workflows/AI Agent - Analyze documents.json
{
  "name": "AI Agent - Analyze documents",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -240
      ],
      "id": "1d624ed0-e66f-4a58-b154-9b8a75e3f465",
      "name": "When chat message received",
      "webhookId": "6e9c06c8-4c24-4d61-9231-03b7f55de9aa"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -304,
        -240
      ],
      "id": "7d3c61c2-1a28-4e7f-9483-c7e625a719c7",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -352,
        -16
      ],
      "id": "33725e90-77d7-4359-8802-3657e18221a4",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "17mPPz4X29pngG6V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -160,
        -16
      ],
      "id": "e107021c-849c-49fd-96a8-c7f144c7ceeb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -160,
        192
      ],
      "id": "98c08600-f00c-4be4-9595-251c26d9dd3e",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        -240
      ],
      "id": "812adeea-ba77-4e91-a2b0-5d9d01ab0246",
      "name": "AI Agent",
      "executeOnce": true,
      "notes": "Execute Once: to make sure agent will take all items from the previous step and not process them one by one"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        144,
        128
      ],
      "id": "5e3e67fa-f9dc-4f7d-b265-fa9741974497",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "17mPPz4X29pngG6V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "The knowledge base to answer user questions"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        400,
        -32
      ],
      "id": "e7f9ac2b-37f7-457c-a98a-6f7bdd3cbb65",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('When chat message received').item.json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        288,
        288
      ],
      "id": "1f197252-08e9-4cd9-8b0f-b98d0c443230",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "9bcf0e1d-c12a-4e45-a4aa-93172d326e28",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "17mPPz4X29pngG6V",
          "name": "Ollama account"
        }
      },
      "notes": "Decrease temperature to avoid hallucinations"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        272,
        512
      ],
      "id": "3a84c9cc-42fb-421e-b14d-a8d3261c04cf",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "17mPPz4X29pngG6V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent\n\nA workflow to respond to user questions based on the documents uploaded. \n[Youtube video](https://youtu.be/XQ7wNqbB1x8?si=xCQV9MI8Xjxkt425)\n\nMake this workflow **active** then you can access the chat window: [Access chat](http://localhost:5678/webhook/6e9c06c8-4c24-4d61-9231-03b7f55de9aa/chat)",
        "height": 176,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -448
      ],
      "id": "bd21bbf0-9236-4679-8714-6d3b1bea717a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "472295be-5d07-4788-8a4b-996ec75c8dd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f40d1b0740d7aa1f3c0fbc93ca78bbf162eb9df22fd17e35e89e73c34f71811"
  },
  "id": "8NZRko71UgaELCPS",
  "tags": []
}